:root {
    --purple: rgb(189, 146, 252);
}

@font-face {
    font-family: "Roobert";
    src: url("../../assets/fonts/RoobertRegular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-family: "Roobert", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html,
body {
    height: 100%;
    width: 100%;
}

/* navbar */

a:hover {
    color: var(--purple);
}

.navbar {
    position: fixed;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #18181b;
    padding: 10px 20px;
    flex-wrap: wrap;
    z-index: 200;
}

nav h1 {
    color: var(--purple);
}

.fa-magnifying-glass {
    color: white;
    margin-left: 1vw;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right a {
    font-size: 1.2vw;
}

.logo {
    color: white;
    font-size: 24px;
    text-decoration: none;
    margin-right: 20px;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    padding: 10px 5px;
    color: white;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
    border-bottom: 2px solid #9147ff;
    box-shadow: 0 2px 10px rgba(145, 71, 255, 0.5);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

input:focus {
    border-bottom: 2px solid #9453f5;
    box-shadow: 0 2px 10px rgba(99, 34, 195, 0.5);
}

.linkedin-svg {
    width: 10vw;
}

.search-input {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

nav img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
}

.nav-item:hover {
    text-decoration: underline;
}

.profile-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9146ff; /* Twitch purple color */
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: 100%;
    border-radius: 4px; /* Rounded corners */
}

/* Hover effect */
.dropdown-content:hover {
    background-color: #7d33e8; /* Darker purple on hover */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #fff; /* White text */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #7d33e8; /* Darker purple on hover */
}

@media (max-width: 768px) {
    .navbar-center {
        display: none;
    }
}

/* left fixed div */
.left-fixed-div {
    position: fixed;
    background-color: #38383f;
    width: 16vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-self: unset;
    align-items: center;
}

.left-fixed-div img {
    margin-top: 18vh;
    border-radius: 50%;
    width: 70%;
    border: 2px solid #9147ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.left-fixed-div img:hover {
    transform: translate(-3px, -3px) scale(1.05);
    box-shadow: 0 8px 16px rgba(100, 65, 165, 0.4), 0 12px 40px rgba(100, 65, 165, 0.3);
}

.left-fixed-div h3 {
    color: white;
    margin: 10px;
    font-size: 0.9vw;
    text-align: center;
}

.left-fixed-container {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: #18181b;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.left-fixed-container div {
    color: white;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #29292d;
}

.left-fixed-container h2 {
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.left-fixed-container h4 {
    font-weight: normal;
    font-size: 14px;
    opacity: 0.7;
}

/* main */
.main {
    background-color: #0f0d0d;
}

.page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
    color: linear-gradient(135deg, rgb(212, 187, 251) 0%, rgb(115, 19, 194) 100%);
}

.page1 h1 {
    font-size: 7vw;
    font-weight: 300;
    font-family: var(--font-family);
    margin-left: 22vw;
    color: #9147ff;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 8px rgba(229, 14, 237, 0.8), 4px 4px 12px rgba(0, 0, 0, 0.6);
}

.page1 h2 {
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 42vw;
    color: #9147ff;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    text-shadow: 2px 2px 8px rgba(229, 14, 237, 0.8), 4px 4px 12px rgba(0, 0, 0, 0.6);
}

/* Footer */

.footer-section {
    background: #151414;
    position: relative;
    margin-left: 16vw;
    bottom: 0;
    width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #9453f5;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #757575;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.footer-social-icon a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer-social-icon i {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}

.footer-widget-heading h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #9147ff;
}

.footer-widget ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #9147ff;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #2e2e2e;
    border: 1px solid #2e2e2e;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #9147ff;
    padding: 13px 20px;
    border: 1px solid #9147ff;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #9147ff;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #9147ff;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}

.page4 {
    position: relative;
    width: 100%;
    height: 94vh;
}

/* Profile page */
.profile-page1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.profile-page1-container {
    padding: 0 30px;
    margin: 18vh 0;
    border-radius: 3vw;
    width: 60vw;
    height: auto;
    background-color: #18181b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editform-container {
    margin: 18vh 0 0 0;
    border-radius: 3vw;
    width: 60vw;
    height: auto;
    color: white;
    background-color: #1e1e20;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 6rem;
    margin-bottom: 10vh;
}

.editform-container input {
    width: 100%;
    width: auto;
    padding: 1.3rem;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.editform-container textarea {
    width: 70%;
    color: white;
    padding: 1.3rem;
    background-color: transparent;
    box-shadow: 0 0 5px purple;
}

.profile-page1-container img {
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    border: 2px solid #9147ff;
    margin: 3vw;
    object-fit: cover;
}

.profile-page1-container h1 {
    color: white;
    font-size: 2vw;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.profile-headline {
    color: #9147ff;
    font-size: 1.5vw;
    margin: 1vw;
    margin: 1vw 3vw;
}

.profile-left-div {
    width: 50vw;
    height: 100%;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
}

.profile-left-div h2 {
    color: white;
    font-size: 1.5vw;
    margin: 1vw;
    font-family: "Poetsen One", sans-serif;
}

.profile-left-div h4 {
    color: white;
    font-size: 1.1vw;
    margin: 1vw;
}

.experience-list {
    list-style: none;
    padding: 0;
}

.experience-list li {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exp-container-div {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .exp-container-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.exp-container-div div {
    color: white;
}

.role,
.date {
    margin-left: 10px;
}

.education-list {
    list-style: none;
    padding: 0;
}

.education-list li {
    margin-bottom: 10px;
    color: white;
}

.skills-list {
    list-style: none;
}

.skills-list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

.skills-list li:hover {
    background: linear-gradient(135deg, #9147ff, #4e1d9e);
    color: white;
    cursor: pointer;
}

.notification-page1 {
    width: 100%;
    height: 200vh;
    display: flex;
    justify-content: center;
}

.notifications-container {
    margin: 18vh auto;
    border-radius: 1vw;
    width: 70vw;
    background-color: #1e1e20;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    color: white;
    padding: 2vw;
    height: 80vw;
}

.notification {
    width: 100%;
    padding: 1vw;
    margin-bottom: 1vw;
    border-bottom: 1px solid #444;
    display: flex;
    align-items: center;
}

.notification img {
    border-radius: 50%;
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    margin-right: 2vw;
}

.notification h3 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.2;
}

/* messages */

/* .messages-page1 {
    width: 100%;
    height: 76vh;
    margin-top: 15vh;
    display: flex;
    background-color: #1e1e20;
    color: white;
    justify-content: center;
}

.messages-left-fixed {
    width: 25%;
    height: 100%;
    border: 1px solid var(--purple);
}

.messages-right-fixed {
    width: 75vw;
    height: 100%;
    border: 1px solid var(--purple);
} */

.person {
    display: flex;
    align-items: center;
    padding: 1vw;
    border: 1px solid var(--purple);
}

.person:hover {
    background-color: var(--purple);
    color: white;
    cursor: pointer;
}

.person h3 {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.2;
}

.person img {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    margin-right: 2vw;
}

.chat-messages {
    padding: 3rem;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e20;
    padding: 2rem;
    width: 10vw;
}

.message {
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

.message.left {
    background-color: #f0f0f0;
    color: black;
}

.message.right {
    background-color: #9f1adc;
    color: white;
}

.chat-messages {
    padding: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.chat-input {
    display: flex;
    align-items: center;
    background-color: #1e1e20;
    padding: 1rem;
}

.chat-input input {
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    margin-right: 1rem;
    width: 10vw;
}

.chat-input button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.chat-messages {
    padding: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 200px); /* Adjusted max height */
}

.chat-input {
    display: flex;
    align-items: center;
    background-color: #1e1e20;
    padding: 1rem;
    position: sticky; /* Changed to sticky position */
    bottom: 0; /* Positioned at the bottom */
    width: calc(100% - 2rem); /* Adjusted width */
}

.chat-input input {
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    margin-right: 1rem;
    width: 100%;
    max-width: calc(100% - 80px);
}

.chat-input button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    width: 80px;
}

.chat-input button:hover {
    background-color: #0056b3;
}

@media (max-width: 767px) {
    .messages-page1 {
        margin-top: 18vh;
        flex-direction: column;
        height: auto;
        margin-top: 0;
    }

    .messages-left-fixed,
    .messages-right-fixed {
        width: 100%;
    }

    .messages-right-fixed {
        max-height: calc(50vh - 100px);
    }

    .chat-input input {
        width: calc(100% - 90px);
    }
}

@media (min-width: 768px) {
    .messages-page1 {
        flex-direction: row;
    }

    .messages-left-fixed,
    .messages-right-fixed {
        width: 50%;
    }

    .messages-right-fixed {
        max-height: calc(100vh - 200px);
    }

    .chat-input input {
        width: calc(100% - 150px);
    }
}

.accept-button {
    margin-left: 2vw;
    background: linear-gradient(135deg, #ff6b6b, #ffa8a8);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.accept-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.page2 {
    width: 100%;
    /* height: 550vh; */
    display: flex;
    justify-content: center;
    /* background-color: #1e1e20; */
    color: white;
    flex: 2;
}

.page2-container {
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16vw;
}

.start-a-post {
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    border: 1px solid #9147ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.start-a-post-upper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.start-a-post-upper img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.start-a-post-upper input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    background-color: #f3f3f3;
    outline: none;
}

.start-a-post-lower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.start-a-post-lower span {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 1vw;
    border-radius: 20px;
}

.start-a-post-lower span h2 {
    font-size: 14px;
    cursor: pointer;
    margin: 0;
}

.start-a-post-lower span:hover {
    background-color: #4a4a4a;
}

.start-a-post input {
    background-color: transparent;
    color: white;
}
.posts {
    margin-top: 10px;
    width: 80%;
    padding: 1vw;
    border: 1px solid #9147ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

/* posts */
.posts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.post {
    background-color: #18181b;
    border: 1px solid #9147ff;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-upper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.post-upper img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.post-user-details {
    flex-grow: 1;
}

.post-user-details h2,
.post-user-details h3 {
    margin: 0;
}

.post-user-details h2 {
    font-size: 18px;
    color: #9147ff;
}

.post-user-details h3 {
    font-size: 14px;
    color: #adadb8;
}

.post-upper h2 {
    font-size: 14px;
    color: #9147ff;
    cursor: pointer;
}

.post-upper h2:hover {
    text-decoration: underline;
}

.post-lower p {
    font-size: 16px;
    margin: 15px 0;
}

.post-lower img {
    width: 60%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.post-lower-icons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.post-lower-icons span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    color: #adadb8;
}

@media (max-width: 770px) {
    .post-lower-icons span p {
        display: none;
    }
}

.post-lower-icons span:hover {
    color: #9147ff;
}

.add-a-comment {
    display: flex;
    align-items: center;
}

.add-a-comment img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.add-a-comment input {
    width: 100%;
    padding: 10px;
    border: 1px solid #3a3a3d;
    border-radius: 20px;
    background-color: #252526;
    color: #fff;
    outline: none;
}

.add-a-comment input::placeholder {
    color: #adadb8;
}

.start-a-post-lower h2 {
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.blue {
    color: #007bff;
    text-decoration: none;
}

.blue:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .left-fixed-div {
        display: none;
    }

    .page2-container {
        margin-left: 3vw;
    }

    .footer-section {
        margin-left: 0vw;
    }
}

.page3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    flex: 1;
}

.profile-page1-container h4 {
    color: #fff;
    margin-top: 1vw;
}

.company-follow-div {
    display: flex;
}

.company-follow-btn {
    background-color: transparent;
    border: 2px solid var(--purple);
    color: white;
    padding: 1vw 0.5vw;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    min-width: 10vw;
    margin-left: 3vw;
    font-size: 1.2vw;
}

.company-page-left {
    margin-top: 3vw;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.company-page-left p {
    margin-top: 15px;
    color: white;
    font-size: 1.5vw;
    padding: 1vw;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.company-follow-btn:hover {
    background: linear-gradient(135deg, #9147ff, #4e1d9e);
}

.page3-container {
    margin-top: 10vh;
    margin-left: 20vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    /* height: 100vh; */
}

.card {
    background: linear-gradient(145deg, #976cd8, #431d8b);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(100, 65, 165, 0.3), 0 6px 20px rgba(100, 65, 165, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
    flex: 1 1 calc(25% - 40px);
    max-width: calc(25% - 40px);
    margin: 10px;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translate(-6px, -6px) scale(1.05);
    box-shadow: 0 8px 16px rgba(100, 65, 165, 0.4), 0 12px 40px rgba(100, 65, 165, 0.3);
}

.card-upper img {
    border-radius: 10px;
    max-width: 13vw;
    height: auto;
    display: flex;
    align-items: center;
}

.card-lower h2 {
    margin-top: 10px;
    font-size: 1.5rem;
    color: #fff;
}

.card-lower p {
    font-size: 1rem;
    color: #ccc;
    margin-bottom: 3px;
}

.card-lower a {
    color: #fff;
    text-decoration: none;
    padding: 1vw;
    border-radius: 30px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.card-lower a:hover {
    background-color: #4e1d9e;
}

@media (max-width: 1100px) {
    .card {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 978px) {
    .card {
        margin-top: 8vw;
    }
    .page3-container {
        margin-top: 10vh;
    }
}

@media (max-width: 700px) {
    .page3-container {
        margin-top: 100px;
    }
}

@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
    .page3-container {
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
}

/* Connections page */
.connections-page1 {
    width: 100%;
    height: auto;
    margin-bottom: 10vw;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.connections-container {
    margin: 18vh 0 0 0;
    border-radius: 3vw;
    width: 60vw;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #18181b;
    color: white;
    border: 2px solid #6441a5;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.connection {
    width: 90%;
    height: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    border-bottom: 1px solid white;
}

.connection img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}

.connection-dropdown-content {
    background-color: #f9f9f9;
    min-width: 20vw;
    padding: 1vw 2vw;
    border-radius: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: background-color ease-in-out 2s color ease-in-out 2s;
    text-align: center;
}

.connection-dropdown-content a {
    text-decoration: none;
    color: black;
    font-size: 1.2vw;
}

.connection-dropdown-content {
    transition: background-color 0.3s, color 0.3s;
}

.connection-dropdown-content:hover {
    background-color: #9146ff;
    color: #fff;
}

.connection-info h3 {
    font-size: 1.8vw;
}

@media (max-width: 768px) {
    .connections-page1 {
        height: auto;
    }

    .connection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .connections-container {
        height: auto;
    }

    .connection img {
        width: 15vw;
        height: 15vw;
        min-width: unset;
        padding: 0;
        border-radius: 50%;
    }

    .connection-info {
        margin-top: 1rem;
        text-align: center;
    }

    .connection-info h3 {
        font-size: 3vw;
    }

    .connection-dropdown-content {
        display: none;
    }
}

.edit-profile {
    background: linear-gradient(135deg, #9147ff, #4e1d9e);
    border: none;
    max-width: 15vw;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.jobs-page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.jobs-container {
    margin: 18vh 0;
    border-radius: 3vw;
    width: 60vw;
    height: auto;
    background-color: #1e1e20;
    display: flex;
    flex-direction: column;
    padding: 3vw;
    color: white;
}

.job {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 1vw;
    border-bottom: 1px solid white;
}

@media (max-width: 570px) {
    .jobs-container {
        width: 80vw;
    }
    .job {
        flex-direction: column;
        gap: 20px;
    }
    .apply-div {
        height: 50px;
    }
    .job a {
        font-size: 30px;
        width: auto;
        height: auto;
    }
}

.job > img {
    width: 4vw;
    height: 4vw;
    margin: 0 1vw;
}

.company-logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 50%;
}

.job-details {
    flex-grow: 1;
}

.job-details h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.job-details p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.apply-div a {
    padding: 1vw 2vw;
    background-color: transparent;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 1vw;
}

.apply-div a:hover {
    box-shadow: 0px 6px 5px rgba(183, 150, 209, 0.2);
}

.employees-card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 26px;
    padding: 20px;
}

.employee-card {
    flex: 1 1 calc(25% - 26px); /* Adjusting the card width based on container's width */
    padding: 20px; /* Adding some padding for spacing inside the card */
    background-color: transparent;
    border: 2px solid #9147ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border-radius: 30px;
    box-sizing: border-box; /* Ensuring padding and border are included in the element's total width and height */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.employee-card h2,
.employee-card h4 {
    margin: 10px 0;
    text-align: center;
}

.employee-card:hover {
    background: linear-gradient(135deg, #9147ff, #4e1d9e);
}

.employee-card img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    .employee-card {
        flex: 1 1 calc(33.33% - 26px);
    }
}

@media (max-width: 900px) {
    .employee-card {
        flex: 1 1 calc(50% - 26px);
    }
}

@media (max-width: 600px) {
    .employee-card {
        flex: 1 1 calc(100% - 26px);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.swiper {
    width: 100%;
}

.swiper-wrapper {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
}

.slider-card {
    width: 20em;
    color: white;
    height: 90%;
    background-color: #29292d;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2em;
}

.slider-card_image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid #9176ff;
    padding: 3px;
    margin-bottom: 2em;
}

.slider-card_image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.slider-card_content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider-card_title {
    font-size: 1.5em;
    font-weight: 500;
    position: relative;
    top: 0.2em;
}

.slider-card_name {
    color: #9176ff;
}

.slider-card_text {
    text-align: left;
    font-size: 1.1em;
    margin: 1em 0;
}

.slider-card_btn {
    background-color: #9176ff;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

.swiper-pagination {
    display: none;
}
